/* .imgmadre{
  width: 40rem;
  height: 40rem;
  position: relative;
  left: 80rem;
} */

.overlay_a {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-color);
}
