/* .imgmadre{
  width: 40rem;
  height: 40rem;
  position: relative;
  left: 80rem;
} */

@media screen and (max-width: 576px) {
 .sectionb-inner h1{
  font-size: 3rem;
 }
 .sectionb-inner p{
  font-size: 1.2rem;
 }
}

.overlay_a {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-color);
}
