.detailObjContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  color: black;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p{
  color: white;
}

.detailObjChildren img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
