footer {
  background-color: #212529;
  padding: 10px;
  height: 200px;
}

footer > div.container > div.row > div.col-12,
footer > div.container > section,
footer > div.container > div {
  color: white; /* Establece el color de todos los hijos a negro */
}

footer > div.container > div.row > div.col-12 ,
footer > div.container > section  {
  color: white; /* Establece el color de los elementos de texto en blanco, excepto el último hijo */
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
  padding: 0 15px;
  color: black;
}

.col-md-6 {
  width: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
margin: 10px;
}


a {
  color: #333;
  text-decoration: none;
}

@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
  }
}
