* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  /* background-color: #b17cc4; */
  min-height: 3em;
}

ul {
  width: 100%;
  text-align: center;
}

.buttonStyle {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725ac1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725ac1;
}

.buttonStyle:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}

.buttonStyle:active {
  transform: scale(0.9);
}

/* li {
  list-style: none;
  display: inline-block;
  padding: 1.7rem;
}

.img__icon{
  width: 2.2rem;
}

.a {
  text-decoration: none;
  font-family: "roboto";
  font-size: 1.1rem;
  color: azure;
  text-transform: uppercase;
}

ul li:hover {
  background: rebeccapurple;
  transition: all 0.5s ease-in-out;
}
*/

.toggle {
  width: 100%;
  font-size: 2rem;
  text-align: right;
  padding: 20px;
  color: azure;
  cursor: pointer;
  display: none;
  background: #000;
}

@media (max-width: 800px) {
  .toggle {
    display: inline-block;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}
